################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/config/applicationhost.config
/.vs/EmployeeDetails/v15/Server/sqlite3/storage.ide-wal
/.vs/Emploee_api/v15/.suo
/.vs/EmployeeDetails/DesignTimeBuild/.dtbcache
/.vs/EmployeeDetails/v15/Server/sqlite3/storage.ide
/.vs/EmployeeDetails/v15/Server/sqlite3/storage.ide-shm
/.vs/EmployeeDetails/v15/.suo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/BusinessLayer/bin/Debug/netcoreapp2.2/BusinessLayer.deps.json
/BusinessLayer/bin/Debug/netcoreapp2.2/BusinessLayer.dll
/BusinessLayer/bin/Debug/netcoreapp2.2/BusinessLayer.pdb
/BusinessLayer/bin/Debug/netcoreapp2.2/BusinessModels.dll
/BusinessLayer/bin/Debug/netcoreapp2.2/BusinessModels.pdb
/BusinessLayer/bin/Debug/netcoreapp2.2/DataLayer.dll
/BusinessLayer/bin/Debug/netcoreapp2.2/DataLayer.pdb
/BusinessLayer/obj/Debug/netcoreapp2.2
/BusinessLayer/obj
/BusinessModels/bin/Debug/netcoreapp2.2
/BusinessModels/obj/Debug/netcoreapp2.2
/BusinessModels/obj
/DataLayer/bin/Debug/netcoreapp2.2
/DataLayer/obj/Debug/netcoreapp2.2
/DataLayer/obj
/EmployeeDetails/bin/Debug/netcoreapp2.2
/EmployeeDetails/obj/Debug/netcoreapp2.2
/EmployeeDetails/obj
/EmployeeDetails/EmployeeDetails.csproj.user
/TestProject/obj
/UnitTestProject/bin/Debug/netcoreapp2.2/BusinessLayer.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/BusinessLayer.pdb
/UnitTestProject/bin/Debug/netcoreapp2.2/BusinessModels.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/BusinessModels.pdb
/UnitTestProject/bin/Debug/netcoreapp2.2/DataLayer.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/DataLayer.pdb
/UnitTestProject/bin/Debug/netcoreapp2.2/EmployeeDetails.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/EmployeeDetails.pdb
/UnitTestProject/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/UnitTestProject.deps.json
/UnitTestProject/bin/Debug/netcoreapp2.2/UnitTestProject.dll
/UnitTestProject/bin/Debug/netcoreapp2.2/UnitTestProject.pdb
/UnitTestProject/bin/Debug/netcoreapp2.2/UnitTestProject.runtimeconfig.dev.json
/UnitTestProject/bin/Debug/netcoreapp2.2/UnitTestProject.runtimeconfig.json
/UnitTestProject/obj
